
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Prediction Input:</h5>
                <div>DAY OF WEEK: <span id="sl"></span></div>
                <div>AIRLINE NAME: <span id="sw"></span></div>
                <div>FLIGHT NUMBER: <span id="pl"></span></div>
                <div>ORIGIN AIRPORT: <span id="pw"></span></div>
                <div>AIRPORT: <span id="pw"></span></div>
                <div>SCHEDULED DEPARTURE: <span id="pw"></span></div>
                <div>DEPARTURE_TIME: <span id="pw"></span></div>                
                <div>DEPARTURE_DELAY: <span id="pw"></span></div>
                
                
                <h5 class="pt-3">Prediction Classification:</h5>
                <div id="prediction"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="{% url 'result' %}" role="button">View DB</a>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Flight Prediction</h1>
            <form action="{% url 'predict_chance' %}" id="post-form" method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="exampleFormControlSelect1">DAY_OF_WEEK</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="DAY_OF_WEEK" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="sepal_length">AIRLINE_NAME</label>
                    {{form.airline}}
                </div>
                
                <div class="form-group">
                    <label for="petal_length">FLIGHT NUMBER</label>
                    <input type="number" class="form-control" name="FLIGHT_NUMBER" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="petal_width">ORIGIN AIRPORT</label>
                    {{form.origin_airport}}
                </div>

                <div class="form-group">
                    <label for="petal_width">DESTINATION AIRPORT</label>
                    
                     {{form.destination_airport}}
                </div>

                <div class="form-group">
                    <label for="petal_width">SCHEDULED DEPARTURE</label>
                    <input type="time" class="form-control" name="SCHEDULED_DEPARTURE" placeholder="" required>
                </div>

                <div class="form-group">
                    <label for="petal_width">DEPARTURE TIME</label>
                    <input type="time" class="form-control" name="DEPARTURE_TIME" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="petal_width">DEPARTURE DELAY (min)</label>
                    <input type="number" class="form-control" name="DEPARTURE_DELAY" placeholder="" required>
                </div> 
                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
        </div>
    </div>
</div>

<!--<script>
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "predict_chance" %}',
            data:{
                DAY_OF_WEEK:$('#DAY_OF_WEEK').val(),
                AIRLINE_NAME:$('#AIRLINE_NAME').val(),
                FLIGHT_NUMBER:$('#FLIGHT_NUMBER').val(),
                ORIGIN_AIRPORT:$('#ORIGIN_AIRPORT').val(),
                AIRPORT:$('#AIRPORT').val(),
                SCHEDULED_DEPARTURE:$('#SCHEDULED_DEPARTURE').val(),
                DEPARTURE_TIME:$('#DEPARTURE_TIME').val(),
                DEPARTURE_DELAY:$('#DEPARTURE_DELAY').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json) {
                document.forms["post-form"].reset();
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("sl").innerHTML = json['AIRLINE_NAME']
                document.getElementById("sw").innerHTML = json['FLIGHT_NUMBER']
                document.getElementById("pl").innerHTML = json['ORIGIN_AIRPORT']
                document.getElementById("pw").innerHTML = json['AIRPORT']
                document.getElementById("pw").innerHTML = json['SCHEDULED_DEPARTURE']
                document.getElementById("pw").innerHTML = json['DEPARTURE_TIME']
                document.getElementById("pw").innerHTML = json['DEPARTURE_DELAY']
                
            },
            error : function(xhr,errmsg,err) {

            }
        });
    })
</script>-->


